# INTELIGENCIA ARTIFICIAL - EVALUACIÃ“N 1
Integrantes: Sebastian Racedo y Sebastian Valle

In [1]:
# Libraries Import
import math
import pandas as pd
import numpy as np

In [2]:
class Node:
    def __init__(self, value):
        self.children = []
        self.value = value
        
    def addNode(node):
        self.children.push(node)

In [3]:
# Read and split data into training and test sets
def SplitData(Raw_Data):
    data = pd.read_csv(Raw_Data,sep = ',')
    [n,m] = data.shape
    headers = list(data.columns.values)
    X = data.iloc[:,0:m-1]
    y = data.iloc[:,m-1]
    return data, X, y

In [4]:
def Entropy(data):
    Size_data = len(data)
    if Size_data == 0:
        return 0
    num_classes = [0 for i in data.iloc[:,-1].dropna().value_counts()]
    num_classes = data.iloc[:,-1].dropna().value_counts().tolist()
    num_classes = [x/Size_data for x in num_classes]
    ent = 0
    for num in num_classes:
        ent += num*math.log(num,2)
    return ent*-1

## GainRatio DEBE aceptar valores numericos o NO numericos, Actualmente solo sirve para NO numericos

In [25]:
def Gain_Ratio(data,headers):
    List_entropy = []
    List_Sum= []
    List_split = []
    List_values_Per_Attribute = [] 
    Global_Entropy = Entropy(data)
    for attribute in headers[0:len(headers)-1]:
        if (np.issubdtype(data[attribute].dtype, np.number) == False):
            entropy = []
            values = []
            Split = 0
            for value in data[attribute].value_counts().index:
                # Gain Calculation
                values.append(value)
                Neg_branch = data.loc[(data[attribute] == value) & (data[headers[len(headers)-1]] == 'No')]
                Pos_branch  = data.loc[(data[attribute] == value) & (data[headers[len(headers)-1]] == 'Yes')]
                Total_branch = [Neg_branch,Pos_branch]
                Total_branch = pd.concat(Total_branch)
                probability_num = (len(Total_branch)/len(data))
                entropy.append(probability_num*Entropy(Total_branch))
                Split += probability_num*math.log(probability_num,2)
            Split = Split*-1
            List_values_Per_Attribute.append(list(values))
            List_split.append(Split)
            Sum_per_branch = sum(entropy)
            List_entropy.append(list(entropy))
            List_Sum.append(Sum_per_branch)
        else:
            pass
            #print(data.sort_values(by = [attribute]))
    Gain = np.subtract(Global_Entropy,List_Sum)
    GainRatio = np.divide(Gain,List_split)
    return GainRatio, List_values_Per_Attribute

In [30]:
def SplitAttributes(RemainingData):
    headers = list(RemainingData.columns.values)
    if(len(headers) == 1):
        print(headers)
        return None
    else:
        GainRatio, values = Gain_Ratio(RemainingData,headers)
        index = np.argmax(GainRatio)
        GainPos = GainRatio[index]
        Best_Attribute = headers[index]
        Best_Values = values[index]
        print(Best_Attribute + " -->")
        print(Best_Values)
        
        RemainingData = RemainingData.drop(columns=[Best_Attribute])
        return SplitAttributes(RemainingData)

In [7]:
def CalculateNode(data):
    if len(data.unique()) == 1:
        return Node(data.unique()[0])
    # TODO, base case 2

In [21]:
data, X, y = SplitData("Golf_Other_Way.csv")
data_temp = data.copy()
headers = list(data_temp.columns.values)
print(headers)

['Temp', 'Outlook', 'Humidity', 'Play Golf']

In [31]:
Splitter = SplitAttributes(data_temp)
Splitter

Outlook -->
['Rainy', 'Overcast', 'Sunny']
Temp -->
['Hot', 'Cool']
Humidity -->
['Normal', 'High']
['Play Golf']

In [18]:
data_temp

    Temp   Outlook Humidity Play Golf
0    Hot     Rainy   Normal        No
1    Hot     Sunny     High        No
2    Hot  Overcast   Normal       Yes
3    Hot     Rainy   Normal       Yes
4   Cool     Rainy   Normal       Yes
5   Cool     Rainy     High        No
6   Cool  Overcast     High       Yes
7    Hot     Sunny   Normal        No
8   Cool     Sunny   Normal       Yes
9   Cool     Rainy   Normal       Yes
10  Cool     Sunny     High       Yes
11   Hot  Overcast     High       Yes
12  Cool  Overcast   Normal       Yes
13   Hot     Rainy     High       Yes

In [19]:
data

    Temp   Outlook Humidity Play Golf
0    Hot     Rainy   Normal        No
1    Hot     Sunny     High        No
2    Hot  Overcast   Normal       Yes
3    Hot     Rainy   Normal       Yes
4   Cool     Rainy   Normal       Yes
5   Cool     Rainy     High        No
6   Cool  Overcast     High       Yes
7    Hot     Sunny   Normal        No
8   Cool     Sunny   Normal       Yes
9   Cool     Rainy   Normal       Yes
10  Cool     Sunny     High       Yes
11   Hot  Overcast     High       Yes
12  Cool  Overcast   Normal       Yes
13   Hot     Rainy     High       Yes